.payBocking {
    background-color: rgb(72, 205, 72);
}

.payBockingWhite {
    background-color: white;
}

.payBockingRed {
    background-color: red;
}

.payNothing {
    background-color: yellow;
}